<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>984381619674-h5sa65h0somch7jatqo4ksv4jnjgcabp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.984381619674-h5sa65h0somch7jatqo4ksv4jnjgcabp</string>
	<key>API_KEY</key>
	<string>AIzaSyAeSb7Eo5FLjcu3C1Zw2mCVDzvbSzmGnSY</string>
	<key>GCM_SENDER_ID</key>
	<string>984381619674</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cz.qest.devstack</string>
	<key>PROJECT_ID</key>
	<string>devstack-f17f9</string>
	<key>STORAGE_BUCKET</key>
	<string>devstack-f17f9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:984381619674:ios:e207167bd513eb4b</string>
	<key>DATABASE_URL</key>
	<string>https://devstack-f17f9.firebaseio.com</string>
</dict>
</plist>